<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8">
    <title>sp-django</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <!--<section class="hero is-small head"></section>-->
<section class="hero is-link">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        SP Django Python
      </h1>
      <h2 class="subtitle">
        POC de autenticação utilizando a biblioteca Django SAML2
      </h2>
    </div>
  </div>
</section>

{% block content %}

{% endblock %}
{% block clearespace %}
<br>
<br>
<br>

{% endblock %}

<!--<div class="content has-text-centered">
          <div class="row">
            <div class="col s12 m4"></div>
            <div class="col s12 m4">
              <img class="responsive-img center" src="{% static 'images/logo-cafe.png' %} ">
            </div>
          </div>
</div>
-->

  <footer class="footer hero is-link">
    <div class="content has-text-centered">
      <p>
        Developed by
      </p>
    </div>
  </footer>
</body>
</html>
