{% extends 'base/base.html' %}

{% load static %}

{% block content %}

  <section class="section">
    <div class="container">
      <h1 class="title">Aplicação de Teste</h1>
        <br class="is-capitalized has-text-justified">
            Aplicação para testes de autenticação utilizando a biblioteca Python Django SAML2
        </p>
    </div>
  </section>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
    <form action="https://brainyit.com.br">
    <button style="margin-right: 15px" class="button is-info">
      Mais info
    </button>
    </form>
    <form action="/saml2/login">
    <button class="button is-success">
      Login
    </button>
    </form>
  </p>
</div>
{% endblock %}
