{% extends 'base/base.html' %}

{% block content %}

  <section class="section">
    <div class="container">
      <h1 class="title">New Page</h1>
      <h2 class="subtitle">
        Service Provides <strong>Django SAML2</strong>
      </h2>
        <br class="is-capitalized has-text-justified">
            Aplicação de testes para autenticação utilizando a biblioteca Django SAML2
        </p>
    </div>
  </section>
<div class="field is-grouped is-grouped-centered">
  <p class="control">
     <button class="button is-info">
      Mais info
    </button>
      <form action="{{ login_link }}">
    <button class="button is-success">
      IdP BrainyIT
    </button>
    </form>
  </p>
</div>
{% endblock %}
