{% extends 'base/base.html' %}

{% load static %}

{% block content %}

<div class="container">
  <div class="notification">
          <h2>Django User Info</h2>
    <table class="table">
	  <thead>
   	     <tr>
        	<th><abbr title="Shib-Attribute">Attribute</abbr></th>
        	<th><abbr title="Value">Value</abbr></th>
    	     </tr>

	  </thead>
    	  <tbody>
                  <tr>
                    <td>ePPN:</td>
                    <td>{{ user.username }}</td>
                  </tr>

                  <tr>
                    <td>Email:</td>
                    <td>{{ user.email }}</td>
                  </tr>

                  <tr>
                    <td>GivenName:</td>
                    <td>{{ user.first_name }}</td>
                  </tr>

                  <tr>
                    <td>SurName:</td>
	            <td>{{ user.last_name }}</td>
                  </tr>

                </tbody>
              </table>
          </div>
      </div>
   </div>
 <div style="text-align: center">
    <form action="{{ logout_link }}">
    <button class="button is-warning">
      LogOut
    </button>
    
</div>


{% endblock %}

